<?xml version="1.0"?>
<config>
	<modules>
		<Gsl_Customtheme>
			<version>0.1.0</version>
		</Gsl_Customtheme>
	</modules>
	<frontend>
		<routers>
			<customtheme>
				<use>standard</use>
				<args>
					<module>Gsl_Customtheme</module>
					<frontName>customtheme</frontName>
				</args>
			</customtheme>
		</routers>
	</frontend>
	<global>
		<models>
			<customer>			
				<rewrite>
					<customer>Gsl_Customtheme_Model_Customer_Customer</customer>
				</rewrite>
			</customer>
			<customtheme>
				<class>Gsl_Customtheme_Model</class>
			</customtheme>
		</models>
		<resources>
			<customtheme_setup>
				<setup>
					<module>Gsl_Customtheme</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</customtheme_setup>
			<customtheme_write>
				<connection>
					<use>core_write</use>
				</connection>
			</customtheme_write>
			<customtheme_read>
				<connection>
					<use>core_read</use>
				</connection>
			</customtheme_read>
		</resources>
		<events>
			<catalog_product_prepare_save>
				<observers>
					<gsl_customtheme>
						<type>singleton</type>
	          			<class>Gsl_Customtheme_Model_Observer</class>
						<method>checkStock</method>
					</gsl_customtheme>
				</observers>
			</catalog_product_prepare_save> 			
		</events>
		<template>
		    <email>
		        <stock_notify_email_template translate="label" module="customtheme">
		            <label>Stock Email</label>
		            <file>gsl/stock_notify_email_template.html</file>
		            <type>html</type>
		        </stock_notify_email_template>
		    </email>
		</template>
	</global>	
</config>