<?xml version="1.0"?>
<config>
    <modules>
        <Colorcode_Colorcode>
            <version>0.1.0</version>
        </Colorcode_Colorcode>
    </modules>
    <frontend>
        <routers>
            <colorcode>
                <use>standard</use>
                <args>
                    <module>Colorcode_Colorcode</module>
                    <frontName>colorcode</frontName>
                </args>
            </colorcode>
        </routers>
        <layout>
            <updates>
                <colorcode>
                    <file>colorcode.xml</file>
                </colorcode>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<colorcode>
				<use>admin</use>
				<args>
					<module>Colorcode_Colorcode</module>
					<frontName>colorcode</frontName>
				</args>
			</colorcode>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<colorcode module="colorcode">
				<title>Colorcode</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="colorcode">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>colorcode/adminhtml_colorcode</action>
					</items>
				</children>
			</colorcode>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Colorcode_Colorcode>
							<title>Colorcode Module</title>
							<sort_order>10</sort_order>
						</Colorcode_Colorcode>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<colorcode>
					<file>colorcode.xml</file>
				</colorcode>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <colorcode>
                <class>Colorcode_Colorcode_Model</class>
                <resourceModel>colorcode_mysql4</resourceModel>
            </colorcode>
            <colorcode_mysql4>
                <class>Colorcode_Colorcode_Model_Mysql4</class>
                <entities>
                    <colorcode>
                        <table>colorcode</table>
                    </colorcode>
                </entities>
            </colorcode_mysql4>
        </models>
        <resources>
            <colorcode_setup>
                <setup>
                    <module>Colorcode_Colorcode</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </colorcode_setup>
            <colorcode_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </colorcode_write>
            <colorcode_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </colorcode_read>
        </resources>
        <blocks>
            <colorcode>
                <class>Colorcode_Colorcode_Block</class>
            </colorcode>
        </blocks>
        <helpers>
            <colorcode>
                <class>Colorcode_Colorcode_Helper</class>
            </colorcode>
        </helpers>
    </global>
</config>