body {
font-family:"Trebuchet Ms", "Lucida Sans", Arial, Helvetica, sans-serif;
font-size: 12px;
color:#000000;
line-height:22px;
font-weight:normal;
margin:0;
padding:0;
background:url(images/PG-BG.gif) repeat-x;
}
a:link{color:#272727; text-decoration:none;} 
a:visited{color:#272727; text-decoration:none;}
a:hover{color:#ce8018; text-decoration:none;}
a:active{color:#ce8018; text-decoration:none;}
.Clear{
clear:both;
}

#White-BG{
width:1042px;
margin: 0 auto;
background:#FFFFFF;
 box-shadow: 0 0 10px #ededed;
-moz-box-shadow: 0 0 10px #ededed;
-webkit-box-shadow: 0 0 10px #ededed;
margin-top:40px;
margin-bottom:40px;
padding:35px 20px 30px 20px;
}

#wrapper{
width:1000px;
margin: 0 auto;

}
.Top-Header{
width:1000px;
border-bottom:2px #ff9b17 solid;
padding-bottom:30px;
}
.logo_portion{
width:297px;
height:48px;
float:left;
}
.Item-Right{
float:right;
}
.Contact{
color:#ec7023;
font-size:24px;
font-family:DOSIS;
background-image:url(images/contact_icon.png);
background-repeat:no-repeat;
background-position:35% 0%;
padding-left:35px;
padding-bottom:5px;

}
.Links{
font-size:12px;
font-family:DOSIS;
color:#5b5959;
text-transform:uppercase;
padding-top:10px;
}
.Links a:link{color:#5b5959; text-decoration:none;} 
.Links a:visited{color:#5b5959; text-decoration:none;}
.Links a:hover{color:#5b5959; text-decoration:none;}
.Links a:active{color:#5b5959; text-decoration:none;}
.Item-Area{
padding:20px 0px 20px 0px;
}
.Welcome-Txt{
font-size:14px;
font-family:DOSIS;
color:#5a5a5a;
text-transform:uppercase;
float:left;


}
.Item-Box{
width:483px;
float:right;
}
.Cart{
padding:5px 10px 5px 0px;
border:1px #cccccc solid;
color:#5a5a5a;
font-size:14px;
font-family:DOSIS;
background-image:url(images/cart-bag.png);
background-repeat:no-repeat;
background-position:10px 5px;
padding-left:38px;
text-transform:uppercase;
float:left;
}
.search {
width: 265px;
color: black;
text-align: left;
padding: 0px;
text-transform: capitalize;
font-family:Arial, Helvetica, sans-serif;
border: 1px solid #b0b0b0;
background:#FFFFFF;
margin-left:10px;
float:left;
}
.button-search {
width: 15px;
height: 15px;
cursor: pointer;
float:right;
padding:8px 5px 8px 0px;
}
.search input {
background: white;
width: 230px;
border:none;
float:left;
}
/*---------------------------------------Menu-Start------------------------------*/

#menu {
	background: #3a3a3a;
	color: #ebebeb;
    cursor: pointer;
    display: block;
    font-family: Oswald;
    font-size: 16px;
    white-space: nowrap;
	height: 34px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	padding: 10px 0px  8px 0px;
    margin:0px;
	text-transform:uppercase;
	font-weight:normal;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu > ul > li {
	position: relative;
	z-index: 20;
	padding: 0px;
	 float:left;
	 margin-right:10px;

}
#menu > ul > li:hover {
}
#menu > ul > li > a {

	font-family: Oswald;
font-size:16px;
	color: #ebebeb;
	line-height: 14px;
	text-decoration: none;
	display: block;
	padding: 8px 10px 8px 10px;
	margin-bottom: 0px;
	z-index: 6;
	position: relative;
	font-weight:normal;
	margin:0px;
}
#menu > ul > li:hover > a {
	background: #ff9b17;
	padding:8px 10px 8px 10px;
	margin:0px;
	color:#000000;
}
#menu > ul > li > div {
	display: none;
	background: #FFFFFF;
	position: absolute;
	top:30px;
	z-index: 5;
	padding: 10px;
	border: 1px dashed #000000;
	width:8em;
}
#menu > ul > li:hover > div {
	display: table;
}
#menu > ul > li > div > ul {
	display: table-cell;
}
#menu > ul > li ul + ul {
	padding-left: 20px;
}
#menu > ul > li ul > li > a {
	text-decoration: none;
	padding: 4px;
	color: #FFFFFF;
	display: block;
	white-space: nowrap;
	min-width: 120px;
}
#menu > ul > li ul > li > a:hover {
	background: #000000;
}
#menu > ul > li > div > ul > li > a {
	color: #000000;
	background:#FFFFFF !important;
	padding:3px 15px 4px 15px;
	font-weight:normal; font-size:13px;
	font-family: Oswald;
}
#menu > ul > li > div > ul > li > a:hover {
	color: #000000;
	background:#cccccc !important;
}

#menu .New {
   color: #ffaf45;
    margin: 0;
    padding: 0;
}
#menu .New a:link {
     color: #ffaf45;
}
#menu .New a:visited {
     color: #ffaf45;
}
#menu .New a:hover {
     color: #ffaf45;
	 background:transparent;
}
/*---------------------------------------Menu-End------------------------------*/
.Banner-Area{
padding-top:20px;
}
.Banner-Left{
float:left;
}
.Banner-Right{
float:right;
}
.ShopFormal-Banner{
padding:40px 10px 40px 10px;
}
.ShopFormal-Txt{
color:#616161;
font-size:16px;
font-family:DOSIS;
text-align:center;
padding-top:30px;
line-height:24px;
}
.RecentlyAdded-Area{
padding-top:30px;
}

.product-grid {
	width: 944px;
	overflow: auto;
		float:left;
}
.product-grid .Block {
	width: 236px;
	display:block;
	vertical-align: top;
	float:left;
}
#column-left + #column-right + #content .product-grid > div {
	width: 125px;
	
}
.product-grid .image {
	display: block;
	margin: 0px;
	padding:0px;
	
}
.product-grid .image img {
	padding: 0px;
	margin:0px;
	
}
.product-grid .name {
	color:#515151 !important;
	font-family:"Trebuchet MS"; 
	font-size:1.0em;
	text-transform:uppercase; 
	/*margin:5px 10px; */
	line-height:17px; 
	text-align:center; 
	clear:both; 
	padding-botton:10px; 
	font-weight:bold;
	width: 236px;
	
}
.product-grid .name a { 
	color:#515151 !important;
	font-family:"Trebuchet MS"; 
	font-size:1.0em;
	text-transform:
	uppercase; 
	line-height:17px; 
	text-align:center; 
	clear:both; 
	padding-botton:10px; 
	font-weight: bold;
}
.product-grid .name a:link { 
	color:#515151 !important; 
	text-decoration:none; 
	margin:0px;
	padding-botton:10px; 
	font-family:"Trebuchet MS"; 
	text-transform:
	uppercase; 
	margin:5px 0; 
	line-height:17px; 
	text-align:center; 
	
	clear:both; 
	padding-botton:10px; 
	font-size:1.0em;
	font-weight: bold;
}
.product-grid .name a:hover { 
	color:#515151 !important; 
	text-decoration:none; 
	margin:0px;
	padding:0px;
	font-family:"Trebuchet MS"; 
	font-size:1.0em;
	text-transform:
	uppercase; 
	margin:5px 0px; 
	line-height:17px; 
	text-align:center; 
	clear:both; 
	padding-botton:10px; 
	font-weight: bold;
}
.product-grid .name a:active { 
	color:#515151 !important; 
	text-decoration:none; 
	margin:0px;
	padding-botton:10px; 
	font-family:"Trebuchet MS"; 
	font-size:1.0em;
	text-transform:uppercase; 
	margin:5px 0px; 
	line-height:17px; 
	text-align:center; 
	clear:both; 
	padding-botton:5px; 
	font-weight: bold;
}
.product-grid .description {
	display: none;
}
.product-grid .rating {
	display: block;
	margin-bottom: 4px;
}
.product-grid .price {
	display: block;
	font-weight: bold;
	padding-bottom:10px;
    margin-left:0px;
	text-align:center;
	color: #ec7023;
    font-family:Dosis;
    font-size: 16px;
    font-weight:500;
	width: 236px;
	
}
.product-grid .price-old {
	color: #ec7023;
    font-family:Dosis;
    font-size: 16px;
    font-weight:500;
    text-decoration:line-through;
}
.product-grid .price-new {
	color: #ec7023;
    font-family:Dosis;
    font-size: 16px;
    font-weight:500;
}
.product-grid .Cart-Btn {
text-align:center;
}
.product-grid .review{
text-align:center;
padding-bottom:6px;
}

.Footer-Area{
width:960px;
padding:30px 0px 0px 20px;
margin:0px 10px 0px 10px;
float:left;
border-top:2px #ff9b17 solid;

}
ul.footer-menu{
margin:0px 70px 0px 0px;
padding:0px;
list-style:none;
float:left;

}
ul.footer-menu li,li a {
color:#272727;
text-decoration:none;
margin-top:4px;
font-size:11px;
line-height:24px;
font-family:"Trebuchet MS";
font-weight:bold;
text-transform:uppercase;
margin:0px;

}
ul.footer-link{
margin-left:10px;
padding:0px;
list-style:none; 
float:left;
}
ul.footer-link li{
color:#272727;
text-decoration:none;
font-size:11px;
line-height:24px;
font-family:"Trebuchet MS";
font-weight:bold;
text-transform:uppercase;
margin:0px;

}
.Icon1{
font-family:"Trebuchet MS";
font-size:11px;
font-weight:bold;
color:#353535;
line-height:26px;
text-transform:uppercase;
background-image:url(images/Icon-1.png);
background-repeat:no-repeat;
background-position:25px 8px;
padding-left:50px;

}
.Icon2{
font-family:"Trebuchet MS";
font-size:11px;
font-weight:bold;
color:#353535;
line-height:26px;
text-transform:uppercase;
background-image:url(images/Icon-2.png);
background-repeat:no-repeat;
background-position:25px 8px;
padding-left:50px;

}
.newsletter-button {
background-color:#ff9b17; color:#FFFFFF; padding:2px 5px 2px 5px; border:0px;
}

.Newsletter{
padding:30px 10px 30px 10px;
}

.Newsletter-search {
width:584px;
color: #4a4a4a;
text-align: left;
padding: 0px;
text-transform: capitalize;
font-family:"Trebuchet MS";
border: 1px solid #ff9b17;
background:#FFFFFF;
margin:8px 10px 8px 10px;
padding:8px;
float:left;
-webkit-border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-khtml-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
}
.Newsletter-search input {
background: white;
width: 530px;
border:none;
float:left;
}
.Subscribe{
margin-top:8px;
float:left;
}
.Text-Box{
width:210px;
color: #4a4a4a;
text-align: left;
font-family:ArialMT;
font-size:11px;
border: 1px solid #d8d8d8;
background:#f7f7f7;
padding:15px 0px 15px 10px;
float:left;
-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.Text-Box-Txt{
padding-left:40px;
line-height:14px;

}
.Text-Box1{
width:220px;
color: #4a4a4a;
text-align: left;
font-family:ArialMT;
font-size:11px;
border: 1px solid #d8d8d8;
background:#f7f7f7;
padding:15px 0px 15px 10px;
margin-left:20px;
float:left;
-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

/*product_category*/


  .right_panel{width:780px; float:left;}
  
  .banner_area{width:785px; height:256px; float:left;}
  .select_area{width:785px; float:left;}
  .select_area ul li{list-style:none; display:inline;}
  .select_area .heading{width:525px; float:left;}
  .select_area .selectable{width:260px; float:left;}
  .grid{float:left; background:url(images/grid.jpg); width:19px; height:19px;}
  .list{float:left; background:url(images/list.jpg); width:26px; height:19px; margin:0 0 0 20px;}
  .drop_down{float:left;margin:0 0 0 20px;}
  select {
	font-size: 13px; border:1px solid #CCC; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
  /* Select arrow styling */
  hr{width:784px; float:left; height:2px; color:#ff9b17; background:#ff9b17; border:none;}
  
  .display_grid{width:745px; float:left; margin:0 0 30px 0;}
  .display_first{ width:210px; vertical-align:top; display:block; float:left;margin:20px 0 0 35px;}
  .display_middle{ width:210px; vertical-align:top; display:block; float:left; margin:20px 0 0 40px;}
  .display_last{ width:210px; vertical-align:top; display:block; float:left;margin:20px 0 0 40px;}
.display_grid .price {
	display: block;
	font-weight: bold;
	padding-bottom:4px;
    margin-left:0px;
	text-align:center;
	color: #ec7023;
    font-family:Dosis;
    font-size: 16px;
    font-weight:500;
	width: 210px;}
	
.display_grid .review{
text-align:center;
padding-bottom:4px;
}

.display_grid .Cart-Btn {
text-align:center;
}

  .left_panel{width:215px; float:left;}
.breadcrumbs {width:215px; font:12px normal Arial, Helvetica, sans-serif; color:#000;}
.breadcrumbs .highlight{ font-weight:bold; color:#000;}

.left_panel h1 {color:#ec7023;font-size:16px;font-family:DOSIS; text-transform:uppercase;}
.left_panel h2 {color:#3a3a3a;font-size:12px;font-family:Arial, Helvetica, sans-serif; font-weight:bold; text-transform:uppercase;}

.price_area{width:100%; float:left;}
.brands_area{width:100%; float:left;}
.color_area{width:100%; float:left;}
.color_area p {float:left;}

.color_red {
height: 21px;
width: 21px;
-moz-border-radius: 35px;
border-radius: 35px;
background:#333; margin:15px 0 0 0;}

.color_grey {
height: 21px;
width: 21px;
-moz-border-radius: 35px;
border-radius: 35px;
background:#333; margin:15px 0 0 24px;}



.size_area{width:100%; float:left; margin:10px 0 0 0;}
.size_normal{background:url(images/size_normal.jpg); width:32px; height:29px; float:left;}
.size_normal:hover{background:url(images/size_hover.jpg); width:32px; height:29px; float:left;color:#000;}
.size_normal .shirt_size{text-align:center; padding:4px 0 0 12px; float:left;}

.size_normal_1{background:url(images/size_normal.jpg); width:32px; height:29px; float:left; margin:0 0 0 10px;}
.size_normal_1:hover{background:url(images/size_hover.jpg); width:32px; height:29px; float:left;color:#000;}
.size_normal_1 .shirt_size{text-align:center; padding:4px 0 0 12px; float:left;}

.size_normal_2{background:url(images/size_normal.jpg); width:32px; height:29px; float:left; margin:0 0 0 10px;}
.size_normal_2:hover{background:url(images/size_hover.jpg); width:32px; height:29px; float:left; color:#000;}
.size_normal_2 .shirt_size{text-align:center; padding:4px 0 0 7px; float:left;}

.availabilty_area{width:100%; float:left; margin:10px 0 0 0;}
.ad_area{width:100%; float:left; margin:10px 0 0 0;}

/*detailed*/
.breadcrumbs_main {width:100%; font:12px normal Arial, Helvetica, sans-serif; color:#000; height:30px;}
.breadcrumbs_main .highlight{ font-weight:bold; color:#000;}
.detailed_area {width:1000px; float:left; margin:0 0 30px 0;}
.display_model{width:418px; float:left; }
.display_model .thumb{width:90px; float:left;}
.display_model .big_border{width:316px; height:450px; border:1px solid #CCC; float:left;}
.big_img {float:left; margin:10px 0 0 10px;}
.display_info{width:560px; float:left; margin:0 0 0 20px;} 
.display_info h1 {color:#ec7023;font-size:24px;font-family:DOSIS;}
.display_info h2 {color:#3a3a3a;font-size:12px;font-family:Arial, Helvetica, sans-serif; font-weight:bold; width:100%; }
.detailed_review{background:url(images/detailed_review.jpg); width:157px; height:37px; float:left;}
.detailed_button{background:url(images/deatiled_review_button.jpg);width:157px; height:37px; float:left;}
.stock_area{width:100%; float:left;}
.stock_area .instock{ background:url(images/instock.jpg); width:97px; height:37px; float:left;}
.stock_area .instock_test{float:left; margin:0 0 0 20px; font-weight:bold;}

.color_size{float:left; width:100%; height:40px; }
.pro_size{float:left;}
.pro_size .text{float:left; width:40px;}
.pro_size .size_button{float:left;}

.pro_color{float:left;}
.pro_color .text{float:left; width:40px; margin:13px 0 0 20px;}

.pro_color .color{float:left;height: 21px;
width: 21px;
-moz-border-radius: 35px;
border-radius: 35px;
background:#333; margin:15px 0 0 12px;}

.pro_color .color1{float:left;height: 21px;
width: 21px;
-moz-border-radius: 35px;
border-radius: 35px;
background:#900; margin:15px 0 0 12px;}

.infosize{float:left; width:100%;}

.cart_area{width:100%; float:left; margin:20px 0 0 0;}
.cart_area .line_cart{ background:url(images/detailed_line.jpg); width:502px; height:6px; float:left;}
.cart_area .price_area{float:left; width:112px; color:#ec7023;font-size:30px;font-family:DOSIS;}
.cart_area .cart_button{float:left; width:230px;}
.cart_button .text{float:left; margin:30px 0 0 0;}
.cart_button .button{float:left; background:url(images/detailed_cart_btn.jpg); width:200px; height:45px; margin:20px 0 0 5px;}
.cart_area .number{float:left; width:210px;}
.number .number_text{color:#3a3a3a;font-size:14px;font-family:DOSIS;padding-left:10px;}
.number .number_call{color:#ec7023;font-size:21px;font-family:DOSIS;}

.wish_list_area {
    float: left;
    margin: 20px 0 0;
    width: 100%;
}
.wish_list_area .wish_btn {
    background:url(images/wish_list_btn.jpg) repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    float: left;
    height: 31px;
    width: 140px;
}
.social_media {
    float: left;
    width: 320px;
}
.facebook2 {
    background:url(images/social_facebook.jpg) repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 31px;
    margin: 0 0 0 30px;
    width: 32px;
}
.facebook2:hover {
    background: url(images/social_facebook.jpg) repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 31px;
    width: 32px;
}
.twitter {
    background: url(images/social_twitter.jpg) repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 31px;
    margin: 0 0 0 7px;
    width: 32px;
}
.twitter:hover {
    background: url(images/social_facebook_hover.jpg) repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 31px;
    width: 32px;
}
.mail {
    background: url(images/social_mail.jpg) repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 31px;
    margin: 0 0 0 7px;
    width: 32px;
}
.mail:hover {
    background: url(images/social_mail_hover.jpg) repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 31px;
    width: 32px;
}
.print {
    background: url(images/social_print.jpg) repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 31px;
    margin: 0 0 0 7px;
    width: 32px;
}
.print:hover {
    background: url(images/social_print_hover.jpg) repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 31px;
    width: 32px;
}
.mail_text {
    color: #919090;
    float: left;
    font-family: DOSIS;
    font-size: 14px;
    font-weight: bold;
    margin: 3px 0 0 7px;
    text-transform: uppercase;
    width: 110px;
}

.clear_area {
    clear: both;
}
.tab_area {
    float: left;
    margin: 0 0 20px;
    width: 100%;
}
.tabs {
    margin: 0 0 0 -30px;
}
.tabs li {
    display: inline;
    list-style: none outside none;
}
#tab5 .left {
    float: left;
}
#tab5 .careinfo {
    height: 60px;
    width: 60px;
}
#tab5 img {
    height: 50px;
}
.tabs a {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    color: #3A3A3A;
    display: inline-block;
    font-family: DOSIS;
    font-size: 15px;
    padding: 5px 10px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    top: 1px;
}
.tabs a.active {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: medium none rgba(0, 0, 0, 0);
    color: #EC7023;
    font-family: DOSIS;
    font-size: 15px;
    position: relative;
    text-transform: uppercase;
    top: 1px;
}
.tabs .selected {
    color: #CE8018;
}
#tab1 {
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    margin: 0 0 0 5px;
    width: 100%;
}
#tab2 {
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    margin: 0 0 0 5px;
    width: 100%;
}
#tab3 {
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    margin: 0 0 0 5px;
    width: 100%;
}
#tab4 {
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    margin: 0 0 0 5px;
    width: 100%;
}
.content_tab {
    color: #3A3A3A;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: normal;
    line-height: 24px;
    padding: 10px;
}